@import url("https://fonts.googleapis.com/css?family=Roboto");
* {
  box-sizing: border-box; }

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  color: #333; }

.centerform {
  display: flex;
  align-items: center;
  flex-direction: column; }

.radiobtn {
  display: flex;
  align-items: center;
  flex-direction: row; }

.button {
  padding: 10px 15px;
  background-color: #339966;
  width: 120px;
  height: 40px;
  font-size: 18px;
  color: #fff;
  transition: 250ms all ease-in-out;
  border: none;
  outline: none;
  border-radius: 3px; }
  .button:hover {
    cursor: pointer;
    background-color: #3db87a; }
  .button-secondary {
    background-color: #ff686b; }
    .button-secondary:hover {
      background-color: #ff9193; }

.input {
  border-radius: 3px;
  border: 1px solid #c8c8c8;
  transition: 250ms all ease-in-out;
  outline: none;
  color: #333;
  padding: 5px 10px;
  background-color: #fff;
  font-size: 16px;
  min-width: 250px;
  max-width: 100%; }
  .input:focus {
    border-color: #339966;
    color: #339966; }

.separator {
  display: block;
  width: 100%;
  height: 1px;
  margin: 10px 0;
  background-color: #c8c8c8;
  border: none;
  outline: none; }

.link {
  color: #339966;
  text-decoration: none;
  transition: 250ms all ease-in-out;
  margin-right: 20px; }
  .link:visited {
    color: #339966; }
  .link:hover {
    color: #3db87a; }

.navigation {
  background-color: #339966;
  height: 100px;
  padding-top: 10px; }

.nav-content {
  display: flex;
  justify-content: space-between;
  margin-left: 30px; }

.nav-link {
  color: #fff; }
  .nav-link:visited {
    color: #fff; }
  .nav-link:hover {
    color: #fff; }

.project {
  color: white;
  font-size: 60px;
  font-family: "Ribeye Marrow", cursive;
  margin-left: 20px; }

.signuptitle {
  font-size: 30px;
  font-family: "Ribeye Marrow", cursive; }

.upload {
  width: 80px;
  box-sizing: border-box; }

.apple {
  margin-left: 15px; }

.circles {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-content: center;
  margin-top: 60px;
  margin-left: 150px; }

.names {
  font-size: 40px;
  font-family: "Ribeye Marrow", cursive;
  color: #339966; }

.homeprofile {
  display: flex;
  justify-content: center;
  margin-top: 35px;
  font-size: 20px;
  padding-right: 30px; }

.radio {
  margin-left: 10px; }

.card {
  box-shadow: 5px 5px 9px 0 rgba(0, 0, 0, 0.2);
  width: 350px;
  color: white;
  text-align: center;
  background-color: #339966;
  border-radius: 4px;
  padding: 30px 0px 20px;
  margin-top: -130px; }

.signupcard {
  box-shadow: 5px 5px 9px 0 rgba(0, 0, 0, 0.2);
  width: 350px;
  color: black;
  text-align: center;
  background-color: white;
  border-radius: 4px;
  padding: 30px 0px 20px; }

.profilepic {
  border-radius: 50%;
  height: 180px;
  width: 180px;
  display: block;
  margin-left: auto;
  margin-right: auto; }

.card-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; }

.couple {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%; }

.bordered {
  border-style: solid;
  border-width: 1px;
  border-color: white; }

.buttondonations {
  padding: 10px 15px;
  background-color: #339966;
  width: 200px;
  height: 80px;
  font-size: 18px;
  color: #fff;
  transition: 250ms all ease-in-out;
  border: none;
  outline: none;
  border-radius: 3px;
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer; }

.donator {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 500px;
  color: #339966;
  text-align: center;
  background-color: white;
  border-radius: 4px;
  padding: 30px 0px 20px;
  margin-top: -130px; }

.map-page {
  display: flex;
  flex-direction: row; }

.map {
  width: 80%;
  margin-left: 120px;
  margin-top: 50px;
  margin-bottom: 50px; }

.list-items {
  margin-right: 30px;
  width: 40%;
  margin-top: 50px; }

.listtitle {
  font-size: 40px;
  font-family: "Ribeye Marrow", cursive; }

.list-style {
  width: 80%; }

.donationtitle {
  color: #339966; }

.rowitems {
  display: flex;
  flex-direction: column;
  align-items: center; }

.backpic {
  background-image: url("avocados.796b40f7.jpg");
  background-repeat: repeat; }

.backpicsignin {
  background-image: url("green.e89687f2.jpg");
  background-repeat: repeat; }

.third {
  width: 60%;
  margin-left: 0px; }

.presentation {
  width: 70%;
  align-items: center;
  margin-left: 200px;
  padding-top: 30px; }

.presentation2 {
  background-color: #fff9e6; }

.moveit {
  margin-bottom: 40px; }

.changesize {
  font-size: 18px;
  padding-bottom: 40px; }

hr {
  height: 3px;
  background-color: #339966;
  color: #339966; }

.voltext {
  width: 70%; }

.donatext {
  width: 70%;
  align-content: center;
  margin-left: 70px; }
